* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial, helvetica;
    background-color: #051721;
  }

header{
    width: 100%;
    height: 100px;
}

.logo{
    width: 69px;
    height: 69px;
    border: 8px solid #3ed6af;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.logo h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: #eee875;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.menu{
	list-style: none;
	background: #051721;
	width: 90%;
	max-width: 400px;
	margin: auto;
    height: 50px;
    margin-right: 150px;
    padding-top: 30px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
    display: inline-block;
	text-align: right;
    margin-top: 0px;
}

.menu li a:hover{
    padding-top: 4px;
	background: #ef8354;
    height: 25px;
    border-radius: 10px;
}


.fondo_libros{
    margin-top: 30px;
    margin-right: 250px;
    z-index: 0;
}

.fondo_libros img{
    float: right;
    margin-left: 50px;
    position: relative;
}

section{
    text-align: left;
    margin-top: 50px;
    display: block;
}

/* PRIMERA CAJA */

#primera_caja{
    width: 80%;
    height: 700px;
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;
    display: block;
}

#primera_caja  .contenedor1{    
    width: 40%;
    float: left;
    margin-top: 100px;
    padding-left: 10%;
    color: aliceblue;
}

#primera_caja .contenedor1 button{
    background-color: #3ed6af;
    border-color: #3ed6af;
    width: 157px;
    height: 44px;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

#primera_caja .contenedor1 h3{
    text-align: left;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#primera_caja .image_right{
    float: right;
    width: 60%;
    margin-top: 30px;
    z-index: 1;
    position: absolute;
}

#primera_caja .fondo{
    width: 40%;
    float: right;
}

#primera_caja .fondo_libros{
    width: 50%;
    float: right;
    z-index: 0;
}

/* SEGUNDA CAJA */

#segunda_caja{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F3F4;
    z-index: 1;
}

#segunda_caja .contenedor_libro1{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid #3ed6af 10px;
    padding: 40px 5px 5px 0px;   
}

#segunda_caja .contenedor_libro1:hover{
    border: solid #051721 10px;
}

#segunda_caja h1{
    font-size: 25px;
    margin-left: 40px;
}

#segunda_caja h2{
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
}

#segunda_caja h5{
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
}

#segunda_caja div p{
    text-align: right;
    margin: 15px 7px 10px 7px;
    font-size: 15px;
}

#segunda_caja div img{
    width: 50px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.contenedor_libro1 button{
    background-color: #051721;
    border-color: #051721;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/* TERCERA CAJA */ 


#tercera_caja .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

#tercera_caja .contenedornosotros{    
    width: 400px;
    float: left;
    margin-right: 50px;
    color: aliceblue;
    margin-top: 25%;
}

#tercera_caja .contenedor1 button{
    background-color: #3ed6af;
    border-color: #3ed6af;
    width: 157px;
    height: 44px;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}


#tercera_caja .contenedor1 p, h1{
    text-align: left;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#tercera_caja .contenedor1 h1{
    font-weight: bold;
    font-size: 30px;
}

#tercera_caja .image_right{
    width: 450px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}

#tercera_caja .contenedor1 .contenedor_dentro{
    float: left;
}