* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial, helvetica;
    background-color: #051721;
  }

header{
    width: 100%;
    height: 100px;
}

.logo{
    width: 69px;
    height: 69px;
    border: 8px solid #3ed6af;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

.logo h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    margin-top: 25%;
    color: #eee875;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.menu{
	list-style: none;
	background: #051721;
	width: 90%;
	max-width: 400px;
	margin: auto;
    height: 50px;
    margin-right: 150px;
    padding-top: 30px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
    display: inline-block;
	text-align: right;
    margin-top: 0px;
}

.menu li a:hover{
    padding-top: 4px;
	background: #ef8354;
    height: 25px;
    border-radius: 10px;
}


.fondo_libros{
    margin-top: 30px;
    margin-right: 250px;
    z-index: 0;
}

.fondo_libros img{
    float: right;
    margin-left: 50px;
    position: relative;
}

section{
    text-align: left;
    margin-top: 50px;
    display: block;
}

section{
    width: 100%;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primera_caja{
    width: 70%;
    height: 370px;
    background-color: #F2F3F4;
    border-radius: 20px;
}

.primera_caja img{
    width: 300px;
    border-radius: 20px;
    float: left;
}

.primera_caja .caja_imagen{
    margin-top: 15px;
    margin-left: 35%;
}

.primera_caja button{
    background-color: #051721;
    border-color: #051721;
    margin-left: 20px;
    margin-top: 40px;
    width: 90px;
    height: 35px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}